<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420360693952-ndcpabprcp7j84f8731puo5qm7asih6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420360693952-ndcpabprcp7j84f8731puo5qm7asih6h</string>
	<key>API_KEY</key>
	<string>AIzaSyACqFsMVS19jMZKg2K7-qxY-e_xNJBZzZI</string>
	<key>GCM_SENDER_ID</key>
	<string>420360693952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jam.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-sergepro-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-sergepro-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420360693952:ios:d4fe293380d700b35de525</string>
	<key>DATABASE_URL</key>
	<string>https://mynotes-sergepro-project-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>